.myButton {    
  background-color: #30a834; /* Green */    
  border: none;    
  color: #fff; /* 改为白色或其他与绿色背景对比明显的颜色 */    
  padding: 15px 32px;    
  text-align: center;    
  text-decoration: none;    
  display: inline-block;    
  font-size: 16px;    
  margin: 4px 2px;    
  cursor: pointer;
  position: absolute;  
  right: 0;     
  /* 还可以添加其他样式，比如过渡效果、阴影等 */  
  transition: background-color 0.3s ease; /* 背景色变化的过渡效果 */  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 简单的阴影效果 */  
}  

.myButton:hover {    
  background-color: #288f2c; /* 鼠标悬停时改变背景色 */  
}